html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: #f4fafc;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #7b113a;
  text-align: center;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-books-title h1 {
  font-family: 'Merienda', cursive;
  font-weight: 700;
  margin: 5px;
  color: white;
  font-size: 3rem;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 20px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #8fd6e1;
  color: #150e56;
  font-family: 'Merienda', cursive;
  padding-bottom: 8px;
  font-size: 1.6rem;
}

.bookshelf-books {
  text-align: center;
  padding-top: 20px;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7b113a;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 0;
  outline: 0;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s;
}

.open-search button:hover {
  background-color: #500824;
  transform: scale(1.2);
}

/* search page */

.search-books-bar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #150e56;
}

.search-books-bar input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1597bb;
  opacity: 1; /* Firefox */
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #7b113a;
  transition: all 0.3s;
}
.close-search:hover {
  background-color: #500824;
  transform: scale(1.2);
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.favourite-book {
  position: absolute;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  right: -2px;
  top: -6px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.favourite-book:hover {
  transform: rotate(45deg);
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1597bb;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
}

.book-shelf-changer:hover {
  background-color: #137591;
  transform: scale(1.2);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* loading */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.spinner {
  background-image: url('./icons/spinner-solid.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-animation: icon-spin 3s infinite linear;
  animation: icon-spin 3s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
